<% provide :title, '' %>
<% provide :description, '' %>
<% provide :keywords, '' %>
<% provide :ld_json, {} %>

<section id='content'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <div class='col-md-4 col-md-offset-4'>
          <div class='panel panel-default'>
            <div class='panel-body'>
              <div class='pull-left'>
                <%= image_tag('logo.jpg', class: 'logo') %>
              </div>

              <h2 class='bold'>Criar Conta</h2>
                <small>Crie uma conta
                  <span class='bold'>
                    <u>agora mesmo</u>
                  </span>.
                </small>
              <hr>


              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                   <%= f.label :name, 'Nome da Empresa' %>
                    <div class='input-group'>
                      <div class='input-group-addon'>
                        <i class="fas fa-building"></i>
                      </div>
                    <%= f.text_field :name, class: 'form-control no-border-left', required: 'required',
                    placeholder: 'Digite o nome', autocomplete: 'off' %>
                  </div>
                </div>

                <div class="field">
                  <%= f.label :email, 'E-mail' %><br />

                  <div class='input-group'>
                    <div class='input-group-addon'>
                      <i class="far fa-envelope"></i>
                    </div>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email",
                    class: 'form-control no-border-left', required: 'required', placeholder: 'Digite o e-mail' %>
                  </div>
                </div>

                <div class="field">
                  <%= f.label :cpf_or_cnpj, "CPF ou CNPJ" %>

                  <div class='input-group'>
                    <div class='input-group-addon'>
                      <i class="far fa-address-card"></i>
                    </div>
                    <%= f.text_field :cpf_or_cnpj, class: 'form-control no-border-left', required: 'required',
                    placeholder: 'Digite o CPF ou CNPJ' %>
                  </div>
                </div>

                <div class="field">
                  <%= f.label :password, 'Senha' %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />

                  <div class='input-group'>
                    <div class='input-group-addon'>
                      <i class="fas fa-lock"></i>
                    </div>
                    <%= f.password_field :password, autocomplete: "new-password",
                    class: 'form-control no-border-left', required: 'required', placeholder: 'Digite a senha' %>
                  </div>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation, 'Confirmar Senha' %><br />

                  <div class='input-group'>
                    <div class='input-group-addon'>
                      <i class="fas fa-lock"></i>
                    </div>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password",
                    class: 'form-control no-border-left', required: 'required', placeholder: 'Confirme a senha' %>
                  </div>
                </div>

                <div class="actions"><br>
                  <%= f.submit "Criar Conta", class: 'btn btn-primary btn-lg top' %>
                </div>
              <% end %>

              <hr>
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

