= provide :title, ''
= provide :description, ''
= provide :keywords, ''
= provide :ld_json, {}

%section{id: 'presenter', class: 'jumbotron'}
  .container
    .row
      .col-md-12
        .row
          .col-md-8{class: 'col-md-offset-2'}
            .panel{class: 'panel-default'}
              .panel-body
                = form_for(:job, { url: jobs_path, method: :get }) do |f|

                  .col-md-4
                    .input-group
                      .input-group-addon
                        %i{class: 'fas fa-hashtag'}
                      = f.text_field :keywords, class: 'form-control no-border-left',
                      placeholder: 'Palavras-chave'

                  .col-md-4
                    .input-group
                      .input-group-addon
                        %i{class: 'fas fa-map-marker-alt'}
                      = f.text_field :location, class: 'form-control no-border-left',
                      placeholder: 'Local'

                  .col-md-4
                    = f.submit 'Buscar Vagas',
                    class: 'btn btn-primary btn-lg top'

#section{class: 'content'}
  .container
    .row
      .col-md-12
        .col-md-3

          .row
            .col-md-12
              %h4{class: 'bold'}
                %i{class: 'fas fa-caret-right primary-color'}
                Refinar por Cidade
              %ul{class: 'list-unstyled'}
                - City.all.limit(7).each do |city|
                  %li{class: 'list-item'}
                    %a{href: jobs_path}
                      #{city.name}
                      %span{class: 'bold'}
                        (#{city.jobs.count})

                %li{class: 'list-item'}
                  %a{href: ''}
                    Mais
                    %i{class: 'fas fa-chevron-down'}

          .row
            .col-md-12
              %h4{class: 'bold'}
                %i{class: 'fas fa-caret-right primary-color'}
                Refinar por Áreas de atuação
              %ul{class: 'list-unstyled'}
                - OccupationArea.all.limit(7).each do |area|
                  %li{class: 'list-item'}
                    %a{href: jobs_path}
                      #{area.name}
                      %span{class: 'bold'}
                        (#{area.jobs.count})

                %li{class: 'list-item'}
                  %a{href: ''}
                    Mais
                    %i{class: 'fas fa-chevron-down'}

          .row
            .col-md-12
              %h4{class: 'bold'}
                %i{class: 'fas fa-caret-right primary-colo'}
                Refinar por tipo de contratação
              %ul{class: 'list-unstyled'}
                - HiringType.all.each do |type|
                  %li{class: 'list-item'}
                    %a{href: jobs_path}
                      #{type.name}
                      %span{class: 'bold'}
                        (#{type.jobs.count})


        .col-md-9
          .row
            .col-md-12
              .panel{class: 'panel-default'}
                .panel-body{id: 'alert-box'}
                  = form_for(:alert) do |f|
                    .col-md-4
                      %h5{class: 'bold'} Receber email para vagas desse tipo

                    .col-md-5
                      .input-group
                        .input-group-addon
                          %i{class: 'far fa-paper-plane'}
                        = f.email_field :email, class: 'form-control no-border-left', required: 'required',
                        placeholder: "Seu email"

                    .col-md-3
                      = f.submit 'Criar Alerta', class: 'btn btn-primary btn-lg top'

          .row
            .col-md-12

              .row
                - Job.recents.limit(20).each do |job|
                  .col-md-12{id: 'job-block'}
                    .panel{class: 'panel-default'}
                      .panel-body
                        .col-md-2
                          = image_tag('logo.jpg', class: 'md-logo')
                        .col-md-8
                          %h4{class: 'job-title bold'}= link_to job.title, job_path(job)
                          %ul{class: 'list-unstyled list-inline'}
                            %li
                              %i{class: 'bold fas fa-briefcase'}
                              %span{class: 'bold job-company'}= job.user.profile.name
                            %li
                              %i{class: 'bold fas fa-map-marker-alt'}
                              %span{class: 'bold job-location'}"#{job.city.name}, #{job.state.name}"

                          %p{class: 'job-description'}= truncate(job.description, length: 145)

                        .col-md-2
                          %p{class: 'job-date'}= format_date(job.created_at)
                          %span{class: 'job-modality badge'}= job.hiring_type.name

            .row
              .text-center
                = link_to 'Carregar mais', '', class: 'btn btn-primary btn-lg top'