= provide :title, ''
= provide :description, ''
= provide :keywords, ''
= provide :ld_json, {}

%section{id: 'presenter', class: 'jumbotron'}
  .container
    .row
      .col-md-12
        .row
          .col-md-8{class: 'col-md-offset-2'}
            .panel{class: 'panel-default'}
              .panel-body
                = form_for(:job, { url: jobs_path, method: :get }) do |f|

                  .col-md-4
                    = f.text_field :keywords, class: 'form-control',
                    placeholder: 'Palavras-chave'

                  .col-md-4
                    = f.text_field :location, class: 'form-control',
                    placeholder: 'Local'

                  .col-md-4
                    = f.submit 'Buscar Vagas',
                    class: 'btn btn-primary btn-lg top'

#section{class: 'content'}
  .container
    .row
      .col-md-12
        .col-md-3

          .row
            .col-md-12
              %h4{class: 'bold'}
                %i{class: 'fas fa-caret-right'}
                Refinar por Cidade
              %ul{class: 'list-unstyled'}
                - City.all.limit(7).each do |city|
                  %li= link_to city.name, ''
                %li= link_to 'Mais', ''

          .row
            .col-md-12
              %h4{class: 'bold'}
                %i{class: 'fas fa-caret-right'}
                Refinar por Áreas de atuação
              %ul{class: 'list-unstyled'}
                - OccupationArea.all.limit(7).each do |area|
                  %li= link_to area.name, ''
                %li= link_to 'Mais'

          .row
            .col-md-12
              %h4{class: 'bold'}
                %i{class: 'fas fa-caret-right'}
                Refinar por tipo de contratação
              %ul{class: 'list-unstyled'}
                - HiringType.all.each do |type|
                  %li= link_to type.name, ''

        .col-md-9
          .row
            .col-md-12
              .panel{class: 'panel-default'}
                .panel-body
                  = form_for(:alert) do |f|
                    .col-md-4
                      %h5{class: 'bold'} Receber email para vagas desse tipo

                    .col-md-5
                      = f.email_field :email, class: 'form-control', required: 'required',
                      placeholder: "Seu email"

                    .col-md-3
                      = f.submit 'Criar Alerta', class: 'btn btn-primary btn-lg top'

          .row
            .col-md-12

              .row
                - Job.recents.limit(20).each do |job|
                  .col-md-12
                    .panel{class: 'panel-default'}
                      .panel-body

                        .col-md-7
                          %h3{class: 'job-title bold'}= link_to job.title, job_path(job)
                          %ul{class: 'list-unstyled list-inline'}
                            %li
                              %i{class: 'bold fas fa-briefcase'}
                              %span{class: 'bold job-company'}= job.user.profile.name
                            %li
                              %i{class: 'bold fas fa-map-marker-alt'}
                              %span{class: 'bold job-location'}"#{job.city.name}, #{job.state.name}"

                          %p{class: 'job-description'}= truncate(job.description, length: 145)

                        .col-md-2
                          %p{class: '.job-date'}= time_ago_in_words(job.created_at)
                          %span{class: 'job-modality badge'}= job.hiring_type.name

            .row
              .text-center
                = link_to 'Carregar mais', '', class: 'btn btn-primary btn-lg top'