= provide :title, @job.title
= provide :description, @job.description
= provide :keywords, @job.keywords
= provide :ld_json, {}

%section{id: 'presenter', class: 'jumbotron'}
  .container
    .row
      .col-md-12
        .row
          .col-md-12{style: 'padding-left: 30px;'}
            = link_to 'Voltar', jobs_path, class: 'btn btn-primary btn-lg top'

            %h2{class: 'bold text-uppercase'}= @job.title
            %ul{class: 'list-unstyled list-inline'}
              %li
                %i{class: 'fas fa-briefcase'}
                %span= @job.user.email
              %li
                %i{class: 'fas fa-map-marker-alt'}
                %span= @job.modality
              %li
                %i{class: 'far fa-calendar-alt'}
                %span= format_date(@job.created_at)

            %ul{class: 'list-unstyled list-inline'}
              %li
                %span{class: 'badge'}= @job.hiring_type.name
              %li{}
                %span{class: 'badge'}= @job.occupation_area.name

%section{class:'container'}
  .container
    .row
      .col-md-12

        .row
          .col-md-8
            .row
              .col-md-12
                %h2{class: 'job-heading bold'} Descrição da Vaga
                %hr
                %p{class: 'job-description'}= @job.description

              .col-md-12
                %h2{class: 'job-heading bold'} Requisitos
                %hr
                %p{class: 'job-description'}= @job.requirements

              .col-md-12
                %h2{class: 'job-heading bold'} Desejável
                %hr
                %p{class: 'job-description'}= @job.desirable

              .col-md-12
                %h2{class: 'job-heading bold'} Outras informações
                %hr
                %p{class: 'job-description'}= @job.others

            .row
              .col-md-12
                %h2{class: 'job-heading bold'} Salário
                %hr
                %p{class: 'job-description'}= @job.salary
            %br

            .row
              .col-md-12
                .panel{class: 'panel-default'}
                  .panel-body{id: 'alert-box'}
                    = form_for(:alert) do |f|
                      .col-md-4
                        %h5{class: 'bold'} Receber email para vagas desse tipo

                      .col-md-5
                        .input-group
                          .input-group-addon
                            %i{class: 'far fa-paper-plane'}
                          = f.email_field :email, class: 'form-control no-border-left', required: 'required',
                          placeholder: "Seu email"

                      .col-md-3
                        = f.submit 'Criar Alerta', class: 'btn btn-primary btn-lg top'



          .col-md-3{class: 'col-md-offset-1', style: 'margin-top: -100px;'}
            .panel{class: 'panel-default'}
              .panel-body{class: 'text-center'}
                .jumbotron
                %h3{class: 'bold'}= @job.user.profile.name
                %p{class: 'text-left'}= @job.user.profile.description
                %br

                = link_to 'Quero me candidatar', '', class: 'btn btn-primary btn-lg top',
                style: 'width: 100%; background-color: #00315c; color: #FFF; font-weight: bold;'
                %br

                %br
                = link_to 'Perfil da Empresa',   '', class: 'btn btn-primary btn-lg top',
                style: 'width: 100%; background-color: #00315c; color: #FFF; font-weight: bold;'
