= provide :title, ''
= provide :description, ''
= provide :keywords, ''
= provide :ld_json, {}

%section{id: 'presenter', class: 'jumbotron'}
  .container
    .row
      .col-md-12

        .row{class: 'text-center'}
          %h1{class: 'bold uppercase'} Temos #{Job.all.count} vagas em aberto
          %p Encontre seu próximo trabalho de maneira bem simples.
          %br

        .row
          .col-md-8{class: 'col-md-offset-2'}
            .panel{class: 'panel-default'}
              .panel-body
                = form_for(:search, { url: jobs_path, method: :get}) do |f|

                  .col-md-4
                    .input-group
                      .input-group-addon
                        %i{class: 'fas fa-hashtag'}
                      = f.text_field :keywords, class: 'form-control no-border-left',
                      placeholder: 'Palavras-chave'

                  .col-md-4
                    .input-group
                      .input-group-addon
                        %i{class: 'fas fa-hashtag'}
                      = f.text_field :location, class: 'form-control no-border-left',
                      placeholder: 'Local'

                  .col-md-4
                    = f.submit 'Buscar Vagas',
                    class: 'btn btn-primary btn-lg top'

#branding
  .container
    .row
      .col-md-12

        .row{id: 'brand-block'}
          .col-md-12

            .col-md-3{class: 'text-center'}
              .pull-left
                = image_tag('logo.jpg', class: 'logo')
              %h4{class: 'bold primary-color'} Portal Fronteiriço
              %small{class: 'text-left'} São Borja, RS

            .col-md-9
              %h4{class: 'bold'} A plataforma mais completa de recrutamento que reúne os
              %h4{class: 'bold'} profissionais do futuro às carreiras do amanhã.
        %br

        .row{id: 'modality'}
          .col-md-6
            .panel.panel-default
              .panel-body{class: 'box box-background'}
                .inner-box{class: 'col-md-8'}
                  .panel{class: 'panel-default'}
                    .panel-body
                      %h2{class: 'bold'} Para Candidatos
                      %p As vagas de trabalho nunca esfriam
                      %p Mais de #{User.all.count} empresas contratando.
                      %br

                      = link_to 'Em Breve', '#', class: 'btn btn-primary btn-lg top'

          .col-md-6
            .panel.panel-default
              .panel-body{class: 'box box-background'}
                .inner-box{class: 'col-md-8'}
                  .panel{class: 'panel-default'}
                    .panel-body
                      %h2{class: 'bold'} Para Empresas
                      %p Prático e fácil de usar para você encontrar
                      %p profissionais sem perder tempo.
                      %br

                      = link_to 'Começar agora', new_user_session_path, class: 'btn btn-primary btn-lg top'

#companies{style: 'margin-bottom: 30px;'}
  .container
    .row
      .col-md-12

        .row{class: 'text-center'}
          %h3{class: 'bold uppercase'} Empresas em destaque
          %h5{class: 'bold uppercase'} Perfils e marcas que se atraem
          %p Veja quem contrata com a gente.
          %br

        .row
          .col-md-10{class: 'col-md-offset-1'}

            .row
              - User.all.each do |user|
                .col-md-4
                  .panel{class: 'panel-default'}
                    .panel-heading
                      .jumbotron
                    .panel-body
                      %p{class: 'pull-left'}= user.profile.name
                      %p{class: 'pull-right bold'}
                        = link_to "5 vaga(s)", ""

#new-job{class: 'jumbotron'}
  .container
    .row
      .col-md-12{class: 'text-center'}
        %h3{class: 'bold uppercase'} Publique as vagas de sua empresa.
        %p Os profissionais poderão se candidatar imediatamente.

        = link_to 'Publicar Vaga', new_dashboard_job_path, class: 'btn btn-primary btn-lg top'


#academy
  .container
    .row
      .col-md-12

        .row
          .col-md-4
            %h4{class: 'bold'} Portal Fronteiriço
            %h3{class: 'uppercase'} Academy
            %br

            %h4{class: 'bold'} Sua jornada é você quem faz
            %br

            %p Academy seleciona e produz cursos a partir de
            das principais habilidades que o mercado procura
            no momento. Aprenda o ritmo de quem contrata.
            %br

            %br
            %p De forma prática, eficiente e contemporânea.
            Quem evolui durante a jornada nunca perde a
            relevância.
            %br

            %br 
            = link_to 'Em Breve', '#', class: 'btn btn-primary btn-lg top'

          .col-md-8
            .col-md-12
              %h4{class: 'bold text-center'} Cursos em destaque
              %br

              - for i in (1..2)
                .col-md-6
                  .panel{class: 'panel-default'}
                    .panel-heading{style: 'padding-top: 50px; padding-bottom: 30px;'}
                      %h4{class: 'bold text-center'} Jornalismo de Dados
                      %p{class: 'bold text-right'} Online
                    .panel-body
                      %h4{class: 'bold'} Jornalismo de Dados
                      %h4{class: 'bold'} De R$ 180
                      %h3{class: 'bold'} Por R$165
                      %p Desconto assinando o prime

                      .media
                        %media-left
                          %a{class: 'pull-left'}
                            %div{style: 'width: 44px; height: 44px; background-color: #EEE; margin-right: 10px; border-radius: 44px;'}
                        %media-body
                          %h4{class: 'bold'} Felipe Morais


#jobs{style: 'margin-top: 50px; margin-bottom: 50px;'}
  .container
    .row
      .col-md-12

        .row{class: 'text-center'}
          %h2{class: 'bold uppercase'} Últimas Vagas Publicadas
          %br

        .row
          - Job.all.limit(4).each do |job|
            .col-md-12
              .panel{class: 'panel-default'}
                .panel-body
                  .col-md-3
                    .jumbotron{class: 'job-company-avatar'}
                  .col-md-7
                    %h3{class: 'job-title bold'}= link_to job.title, ''
                    %ul{class: 'list-unstyled list-inline'}
                      %li
                        %i{class: ''}
                        %p{class: 'bold job-company'}= job.user.profile.name
                      %li
                        %i{class: ''}
                        %p{class: 'bold job-location'} São Borja, Rio Grande do Sul

                    %p{class: 'job-description'}= truncate(job.description, length: 145)

                  .col-md-2
                    %p{class: '.job-date'}= time_ago_in_words(job.created_at)
                    %span{class: 'job-modality badge'}= job.hiring_type.name

#newsletter
  .container
    .row
      .col-md-12

        .row
          .col-md-6
            %h3{class: 'bold uppercase'} Receba alertas de vagas
            %p{class: 'alert alert-default'} Receba alertas de vagas diretamente em seu email.
            %p Você poderá descadastrar-se a qualquer momento.

          .col-md-6
            .panel.panel-default
              .panel-body
                = form_for(:newsletter) do |f|
                  .field
                    = f.email_field :email, class: 'form-control',
                    required: 'required', placeholder: 'Seu e-mail'
                  %br

                  .field
                    = f.select(:email, {},
                    { prompt: 'Selecionar'}, {class: 'form-control'})
                  %br

                  .field{class: 'text-center'}
                    = f.submit 'Criar Alerta', class: 'btn btn-primary btn-lg top'