= provide :title, ''
= provide :description, ''
= provide :keywords, ''
= provide :ld_json, {}

%section{id: 'presenter', class: 'jumbotron'}
  .container
    .row
      .col-md-12

        .row{class: 'text-center'}
          %h1{class: 'bold uppercase'} Temos #{Job.all.count} vagas em aberto
          %p Encontre seu próximo trabalho de maneira bem simples.
          %br

        .row
          .col-md-8{class: 'col-md-offset-2'}
            .panel{class: 'panel-default'}
              .panel-body
                = form_for(:search, { url: jobs_path, method: :get}) do |f|

                  .col-md-4
                    .input-group
                      .input-group-addon
                        %i{class: 'fas fa-hashtag'}
                      = f.text_field :keywords, class: 'form-control no-border-left',
                      placeholder: 'Palavras-chave'

                  .col-md-4
                    .input-group
                      .input-group-addon
                        %i{class: 'fas fa-map-marker-alt'}
                      = f.text_field :location, class: 'form-control no-border-left',
                      placeholder: 'Local'

                  .col-md-4
                    = f.submit 'Buscar Vagas',
                    class: 'btn btn-primary btn-lg top'

#branding
  .container
    .row
      .col-md-12

        .row{id: 'brand-block'}
          .col-md-12

            .col-md-3{class: 'text-center'}
              .pull-left
                = image_tag('logo.jpg', class: 'logo')
              %h4{class: 'bold primary-color'} Portal Fronteiriço
              %small{class: 'text-left'} São Borja, RS

            .col-md-9
              %h4{class: 'bold'} A plataforma mais completa de recrutamento que reúne os
              %h4{class: 'bold'} profissionais do futuro às carreiras do amanhã.
        %br

        .row{id: 'modality'}
          .col-md-6
            .panel.panel-default
              .panel-body{class: 'box box-background user-box'}
                .inner-box{class: 'col-md-8'}
                  .panel{class: 'panel-default'}
                    .panel-body
                      %h2{class: 'bold'} Para Candidatos
                      %p As vagas de trabalho nunca esfriam
                      %p Mais de #{User.all.count} empresas contratando.
                      %br

                      = link_to 'Em Breve', '#', class: 'btn btn-primary btn-lg top'

          .col-md-6
            .panel.panel-default
              .panel-body{class: 'box box-background company-box'}
                .inner-box{class: 'col-md-8'}
                  .panel{class: 'panel-default'}
                    .panel-body
                      %h2{class: 'bold'} Para Empresas
                      %p Prático e fácil de usar para você encontrar
                      %p profissionais sem perder tempo.
                      %br

                      = link_to 'Começar agora', new_user_session_path, class: 'btn btn-primary btn-lg top'

#companies
  .container
    .row
      .col-md-12

        .row{class: 'text-center'}
          %h3{class: 'bold uppercase'} Empresas em destaque
          %h5{class: 'bold uppercase'} Perfils e marcas que se atraem
          %p Veja quem contrata com a gente.
          %br

        .row
          .col-md-10{class: 'col-md-offset-1'}

            .row
              - User.all.each do |user|
                .col-md-4
                  .panel{class: 'panel-default', id: 'company-block'}
                    .panel-heading{class: 'company-header'}
                      = image_tag('logo.jpg', class: 'company-logo')
                    .panel-body
                      %p{class: 'company-name pull-left'}= link_to user.profile.name, company_path(user)
                      %p{class: 'company-jobs-counter pull-right bold'}
                        %a{href: '', class: 'bold'}
                          #{user.jobs.count} Vaga(s)

#new-job{class: 'jumbotron'}
  .container
    .row
      .col-md-12{class: 'text-center'}
        %h3{class: 'bold uppercase'} Publique as vagas de sua empresa.
        %p Os profissionais poderão se candidatar imediatamente.

        = link_to 'Publicar Vaga', new_dashboard_job_path, class: 'btn btn-primary btn-lg top'


#jobs{style: 'margin-top: 50px; margin-bottom: 50px;'}
  .container
    .row
      .col-md-12

        .row{class: 'text-center'}
          %h3{class: 'bold uppercase'} Últimas Vagas Publicadas
          %br

        .row
          .col-md-10{class: 'col-md-offset-1'}
            - Job.all.limit(4).each do |job|
              .col-md-12{id: 'job-block'}
                .panel{class: 'panel-default'}
                  .panel-body
                    .col-md-2
                      = image_tag('logo.jpg', class: 'md-logo')
                    .col-md-8
                      %h4{class: 'job-title bold'}= link_to job.title, job_path(job)
                      %ul{class: 'list-unstyled list-inline'}
                        %li
                          %i{class: 'bold fas fa-briefcase'}
                          %span{class: 'bold job-company'}= job.user.profile.name
                        %li
                          %i{class: 'bold fas fa-map-marker-alt'}
                          %span{class: 'bold job-location'} São Borja, Rio Grande do Sul

                      %p{class: 'job-description'}= truncate(job.description, length: 145)

                    .col-md-2
                      %p{class: '.job-date'}= format_date(job.created_at)
                      %span{class: 'job-modality badge'}= job.hiring_type.name


#newsletter
  .container
    .row
      .col-md-12

        .row
          .col-md-6
            .col-md-offset-2{class: 'col-md-10'}
              %h3{class: 'bold uppercase'} Receba alertas de vagas
              %p{class: 'alert alert-info'} Receba alertas de vagas diretamente em seu email.
              %p{class: 'alert-description'} Você poderá descadastrar-se a qualquer momento.

          .col-md-6
            .col-md-offset-1{class: 'col-md-9'}
              .panel.panel-default
                .panel-body{id: 'newsletter-form'}
                  = form_for(:newsletter, {url: '', method: :post}) do |f|
                    .field
                      .input-group
                        .input-group-addon
                          %i{class: 'far fa-user'}
                        = f.email_field :email, class: 'form-control',
                        required: 'required', placeholder: 'Seu e-mail'
                    %br

                    .field
                      .input-group
                        .input-group-addon
                          %i{class: 'far fa-envelope'}
                        = f.select(:email, { 'Diário': 'Diário', 'Mensal': 'Mensal', 'Semanal': 'Semanal' },
                        { prompt: 'Selecionar'}, {class: 'form-control'})
                    %br

                    .field{class: 'text-center'}
                      = f.submit 'Criar Alerta', class: 'btn btn-primary btn-lg top'
