= form_for([:dashboard, job]) do |f|
  = has_errors?(job)

  .field
    = f.label :title, 'Titulo'
    = f.text_field :title, class: 'form-control', required: 'required',
    placeholder: 'Digite o titulo', autocomplete: 'off'

  .field
    = f.label :description, 'Descrição'
    = f.text_area :description, class: 'form-control', required: 'required',
    placeholder: 'Digite a descrição', autocomplete: 'off'

  .field
    = f.label :hiring_type_id, 'Tipo de Contratação'
    = f.collection_select(:hiring_type_id,HiringType.all, :id, :name,
    { prompt: 'Selecionar Tipo de Contratação'}, { class: 'form-control', required: 'required' })

  .field
    = f.label :occupation_area_id, 'Área de Ocupação'
    = f.collection_select(:occupation_area_id, OccupationArea.all, :id, :name,
    { prompt: 'Selecionar Área de Atuação' }, { class: 'form-control', required: 'required' })

  .field
    = f.label :salary, 'Salario'
    = f.text_field :salary, class: 'form-control', required: 'required',
    placeholder: 'Digite o salário'

  .field
    = f.label :modality, 'Modalidade'

  .field
    = f.label :location, 'Localização'

  .fiel
    = f.label :state_id, 'Estado'

  .field
    = f.label :city_id,  'Cidade'

  .field
    = f.label :keywords, 'Palavras-Chave'

  .actions
    = f.submit nil, class: 'btn btn-primary btn-lg top'