= provide :title, ''
= provide :description, ''
= provide :keywords, ''
= provide :ld_json, {}

%section{id: 'content'}
  .container
    .row
      .col-md-12

        .row
          .col-md-7{class: 'col-md-offset-2'}
            = render 'form', job: @job