= provide :title, ''
= provide :description, ''
= provide :keywords, ''
= provide :ld_json, {}

%section{id: 'presenter', class: 'jumbotron'}
  .container
    .row
      .col-md-12
        .row
          .col-md-12{style: 'padding-left: 30px;'}
            = link_to 'Voltar', jobs_path, class: 'btn btn-primary btn-lg top btn-back'

            .col-md-2
              = image_tag(@company.profile.logo, class: 'logo', height: 130, width: 130)
            .col-md-10
              %h2{class: 'bold'} #{@company.profile.name}
              %ul{class: 'list-unstyled list-inline'}
                %li
                  %i{class: 'fas fa-map-marker-alt'}
                  %span #{@company.profile.city.name}, #{@company.profile.state.name}
                %li
                  %i{class: 'fas fa-globe-americas'}
                  =link_to @company.profile.website, @company.profile.website, target: '_blank'

%section{class:'container'}
  .container
    .row
      .col-md-12

        .row
          .col-md-7
            .row
              .col-md-12
                .navigation
                  %ul{class: 'nav nav-tabs', role: 'tablist'}
                    %li{class: 'active', role: 'presentation'}
                      %a{href: '#description', 'aria-controls': 'description', role: 'tab', 'data-toggle': 'tab'}
                        Descrição da Empresa

                    %li{role: 'presentation'}
                      %a{href: '#jobs', 'aria-controls': 'description', role: 'tab', 'data-toggle': 'tab'}
                        Vagas(#{@company.jobs.count})
            .row
              .col-md-12{style: 'padding-top: 40px; padding-bottom: 30px;'}
                .tab-content
                  .tab-pane{role: 'tabpanel', class: 'active', id: 'description'}
                    = @company.profile.description
                  .tab-pane{role: 'tabpanel', id: 'jobs'}
                    #jobs
                      .row
                        - @company.jobs.limit(7).each do |job|
                          .col-md-12
                            .panel{class: 'panel-default'}
                              .panel-body
                                .col-md-10{id: 'job-block'}
                                  %h4{class: 'job-title bold'}= link_to job.title, job_path(job)
                                  %ul{class: 'list-unstyled list-inline'}
                                    %li
                                      %i{class: 'bold fas fa-briefcase'}
                                      %span{class: 'bold job-company'}= job.user.profile.name
                                    %li
                                      %i{class: 'bold fas fa-map-marker-alt'}
                                      %span{class: 'bold job-location'}"#{job.city.name}, #{job.state.name}"

                                  %p{class: 'job-description'}= truncate(job.description, length: 145)

                                .col-md-2
                                  %p{class: 'job-date'}= format_date(job.created_at)
                                  %span{class: 'job-modality badge'}= job.hiring_type.name

                    #load-more
                      .text-center
                        = link_to 'Carregar Mais', '', class: 'btn btn-primary btn-lg top'


          .col-md-3{class: 'col-md-offset-1', style: 'margin-top: -100px;'}
            .panel{class: 'panel-default'}
              .panel-body{class: 'text-center'}
                %h4{class: 'bold'} Envie-me vagas de #{@company.profile.name}
                %br

                = form_for(:alert, { url: job_alerts_path, method: :post}) do |f|
                  .field
                    .input-group
                      .input-group-addon
                        %i{class: 'fas fa-at'}
                      = f.email_field :email, class: 'form-control no-border-left',
                      required: 'required', placeholder: 'Seu e-mail'
                  %br

                  .field
                    .input-group
                      .input-group-addon
                        %i{class: 'fas fa-mail-bulk'}
                      = f.select(:modality, {'Diário': 'Diário', 'Semanal': 'Semanal', 'Mensal': 'Mensal'},
                      { prompt: 'Selecionar'}, {class: 'form-control no-border-left'})
                  %br

                  .field
                    = f.hidden_field :alerteable_id, value: @company.id
                    = f.hidden_field :alerteable_type, value: @company.class.to_s

                  .field
                    = recaptcha_tags
                  %br

                  .field{class: 'text-center'}
                    = f.submit 'Criar Alerta', class: 'btn btn-primary btn-lg top'