= form_for(:dashboard, profile)
  = has_errors?(profile)

  .field
    = f.label :logo, 'Logo'
    = f.file_field :logo

  .field
    = f.label :name, 'Nome'
    = f.text_field :name, class: 'form-control', required: 'required',
    placeholder: 'Digite o nome', autocomplete: 'off'

  .field
    = f.label :phone, 'Telefone'
    = f.phone_field :phone, class: 'form-control', required: 'required',
    placeholder: 'Digite o telefone', autocomplete: 'off'

  .field
    = f.label :description, 'Descrição'
    = f.text_area :description, class: 'form-control', required: 'required',
    placeholder: 'Digite a descrição', autocomplete: 'off'\

  .field
    = f.label :website, 'Website'
    = f.url_field :website, class: 'form-control', required: 'required',
    placeholder: 'Digite o endereço'

  .field
    = f.label :state_id, 'Estado'
    = f.collection_select(:state_id, State.all, :id, :name,
    { prompt: 'Selecionar Estado' }, { class: 'form-control', required: 'required' })

  .field
    = f.label :city_id, 'Cidade'
    = f.collection_select(:city_id, City.all, :id, :name,
    { prompt: 'Selecionar Cidade' }, { class: 'form-control', required: 'required' })

  .actions
    = f.submit nil, class: 'btn btn-primary btn-lg top'