= provide :title, ''
= provide :description, ''
= provide :keywords, ''
= provide :ld_json, {}

%section{id: 'content'}
  .container
    .row
      .col-md-12
        = render 'form', profile: @profile