%footer{id: 'footer'}
  .container
    .row
      .col-md-12
        .col-md-3
          %ul{class: 'list-unstyled'}
            %li= link_to 'Home', ''
            %li= link_to 'Contato', ''
            %li= link_to 'Sobre nós', ''
            %li= link_to 'Termos de uso'

        .col-md-3
          %h4{class: 'bold uppercase'} Empresa
          %ul{class: 'list-unstyled'}
            %li= link_to 'Publicar Vaga', ''
            %li= link_to 'Entrar', ''

        .col-md-3
          %h4{class: 'bold uppercase'} Candidatos
          %ul{class: 'list-unstyled'}
            %li= link_to 'Buscar Vagas', ''

        .col-md-3
          %h4{class: 'bold uppercase'} Procurando Estágio/Estagiários?
          %ul{class: 'list-unstyled'}
            %li= link_to 'Buscar Vagas', ''