%header
  %nav{class: 'navbar navbar-default'}
    .container{class: 'container-fluid'}
      .navbar-header
        %button{type: 'button', class: 'navbar-toggle collapsed', 'data-toggle': 'collapse', 'data-target': "#bs-example-navbar-collapse-1", 'aria-expanded': 'false'}
          %span{class: 'sr-only'} Toggle navigation
          %span{class: 'icon-bar'}
          %span{class: 'icon-bar'}
          %span{class: 'icon-bar'}

        %a{class: 'navbar-brand', href: logged_in? }
          = image_tag('logo.jpg', class: 'header-logo')

      .collapse{class: 'navbar-collapse', id: 'bs-example-navbar-collapse-1'}
        %ul{class: 'nav navbar-nav'}
          - if current_user
            %li= link_to 'Home', root_path
          %li
            %a{href: jobs_path}
              %i{class: 'fas fa-briefcase'}
              Vagas
          %li
            %a{href: companies_path}
              %i{class: 'fas fa-building'}
              Empresas
          %li
            %a{href: companies_path}
              %i{class: 'fas fa-handshake'}
              Parceiros
          %li
            %a{href: companies_path}
              %i{class: 'fas fa-blog'}
              Blog
          %li
            %a{href: companies_path}
              %i{class: 'fab fa-monero'}
              Planos

          //%li= link_to 'Cursos',
          //%li= link_to 'Blog', ''
          //%li= link_to 'Contato', ''

        %ul{class: 'nav navbar-nav navbar-right'}
          - unless current_user
            %li
              %a{ href: new_user_session_path }
                %i{class: 'fas fa-sign-in-alt'}
                Entrar
            %li
              %a{ href: new_user_registration_path }
                %i{class: 'fas fa-user-circle'}
                Criar Conta

          - else
            %li
              %a{ href: destroy_user_session_path, method: :delete, :data => { no_turbolink: true }}
                %i{ class: 'fas fa-power-off' }
                Logout
            %li
              %a{ href: dashboard_path }
                %i{ class: 'fas fa-user-circle' }
                Minha Conta
          %li{class: 'dropdown'}
            %a{ href: '#', class: 'dropdown-toggle', 'data-toggle': 'dropdown', role: 'button',
            'aria-haspopup': 'true', 'aria-expanded': 'false'}
              = image_tag('flags/pt-br.png', class: 'flag-icon')
              PT-BR 
              %span{class: 'caret'}
            %ul{class: 'dropdown-menu', style: 'background-color: #00315c;'}
              %li
                %a{}
                  = image_tag('flags/pt-br.png', class: 'flag-icon')
                  PT-BR
              %li
                %a{}
                  = image_tag('flags/es.png', class: 'flag-icon')
                  ES