<!DOCTYPE html>
<html>
  <head>
    <title>PfJobs</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/5165849ba2.js" crossorigin="anonymous"></script>
  </head>
  <body class="<%= controller.controller_name %>">
    <%= render partial: 'layouts/header' %>

      <div class='col-md-offset-1'>
        <div class='navbar'>
          <ul class='nav nav-tabs'>
            <li class='role'>
              <%= link_to 'Dashboard', dashboard_path %>
            </li>
            <li class='role'>
              <%= link_to 'Vagas publicadas', dashboard_jobs_path %>
            </li>
            <li class='role'>
              <%= link_to 'Invoices', dashboard_invoices_path %>
            </li>
            <li class='role'>
              <%= link_to 'Meu Perfil', edit_dashboard_profile_path(current_user.profile) %>
            </li>
          </ul>
        </div>
      </div>

      <%= yield %>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
