<!DOCTYPE html>
<html>
  <head>
    <title>PfJobs</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/5165849ba2.js" crossorigin="anonymous"></script>
  </head>
  <body class="<%= controller.controller_name %>">
    <%= render partial: 'layouts/header' %>

      <div class='col-md-10 col-md-offset-1'>
        <div class="row">
          <div class="text-center">
            <%= image_tag('logo.jpg', class: '', width: 124, height: 124) %>
            <div class='session-status' alt='Online'></div>
            <h2 class='bold uppercase'>Minha Conta</h2>
          </div>
        </div>

        <div class='navbar dashboard-navbar'>
          <ul class='nav nav-tabs'>
            <li class='role'>
              <a href='<%= dashboard_path %>' class='active'>
                <i class='fas fa-tachometer-alt'></i>
                Dashboard
              </a>
            </li>
            <li class='role'>
              <a href='<%= dashboard_jobs_path %>'>
                <i class='fas fa-briefcase'></i>
                Vagas Publicadas
              </a>
            </li>
            <li class='role'>
              <a href='<%= dashboard_invoices_path %>'>
                <i class='fas fa-ticket-alt'></i>
                Faturas
              </a>
            </li>
            <li class='role'>
              <a href='<%= edit_dashboard_profile_path(current_user.profile) %>'>
                <i class='fas fa-user-circle'></i>
                Meu Perfil
              </a>
            </li>
          </ul>
        </div>
      </div>

      <%= yield %>

      <%= render partial: 'shared/zendesk' %>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
